.weather {
  border: 3px solid #ac7386;
  max-width: 750px;
  margin: 50px auto 0;
  padding: 40px;
  border-radius: 5px;
}

.weather form {
  max-width: 50%;
  color: #828282;
  margin: 0 auto;
  font-size: 15px;
}

.weather #city-input {
  margin: 0 15px 0 5px;
  font-size: 15px;
}

.weather #search-button {
  color: #ac7386;
  font-size: 15px;
}

.weather h1 {
  font-size: 30px;
  color: #ac7386;
}

.weather ul {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #828282;
  font-size: 18px;
}

.weather li:first-letter {
  text-transform: uppercase;
}
.weather .temperature {
  color: #ac7386;
  font-size: 70px;
}

.weather .units {
  color: #828282;
  font-size: 15px;
  position: relative;
  top: -38px;
  left: 1px;
}

.weather canvas {
  margin-left: 10px;
}
